<div align="left" style="background-color: #008080; padding: 20px 10px;">
<h3><b>IDEAS - Institute of Data Engineering, Analytics and Science Foundation</b></h3>
<hr style="width:100%;">
<p>Spring Internship Program 2026</p>
<h3><b>Project Title:</b> Time-Series Analysis of COVID-19 Data</h3>
<h4>Project Notebook</h4>

<blockquote style="border-left: 4px solid #4285F4; padding-left: 15px;">
  <strong>Created by:</strong> Samyabrata Roy<br>
  <strong>Designation:</strong> Associate Software Developer
  <strong>Assignment Project done by:</strong> Raunak Sen<br>
  <strong>Link to this colab:</strong> https://colab.research.google.com/drive/1x6ucXaqY09eegPtGsigBjyy5YOX2_LrV?usp=sharing <br>
</blockquote>
<hr style="width:100%;">
</div>

### Question 1: Import Libraries and Load Data (5 Marks)

Import `pandas` as `pd` and load the COVID-19 dataset from the provided data link into a DataFrame called `df_covid`. Then, display the first 5 rows of this DataFrame.

**Hint:** Use `pd.read_csv()` to load it and the `.head()` method to display the initial rows.

**Expected Output:** A table showing the first 5 rows of the raw COVID-19 dataset.

In [52]:
# Write your answer here
import pandas as pd
df_covid = pd.read_csv("/content/WHO-COVID-19-global-daily-data.csv")
df_covid.head()

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-04,AI,Anguilla,AMR,NaN,0,NaN,0
1,2020-01-04,AZ,Azerbaijan,EUR,NaN,0,NaN,0
2,2020-01-04,BD,Bangladesh,SEAR,0.0,0,0.0,0
3,2020-01-04,BB,Barbados,AMR,NaN,0,NaN,0
4,2020-01-04,BR,Brazil,AMR,NaN,0,NaN,0

### Question 2: Subset the DataFrame (5 Marks)

Create a new DataFrame called `df_covid_subset` that contains only the following columns from the original `df_covid`: `Date_reported`, `Country`, `WHO_region`, `New_cases`, `New_deaths`. Display the first 5 rows of the new subset.

**Hint:** You can select multiple columns by passing a list of column names to the DataFrame, like `df[['col1', 'col2']]`.

**Expected Output:** A table showing the first 5 rows with only the 5 specified columns.

In [53]:
# Write your answer here
df_covid_subset = df_covid[['Date_reported', 'Country', 'WHO_region', 'New_cases', 'New_deaths']].copy()
df_covid_subset.head()

  Date_reported     Country WHO_region  New_cases  New_deaths
0    2020-01-04    Anguilla        AMR        NaN         NaN
1    2020-01-04  Azerbaijan        EUR        NaN         NaN
2    2020-01-04  Bangladesh       SEAR        0.0         0.0
3    2020-01-04    Barbados        AMR        NaN         NaN
4    2020-01-04      Brazil        AMR        NaN         NaN

### Question 3: Data Type Conversion (5 Marks)

The `Date_reported` column in `df_covid_subset` is currently an object (string). Convert this column to a proper datetime format. Then, print the `info()` of the DataFrame to confirm the change.

**Hint:** Use `pd.to_datetime(df['column_name'])` to perform the conversion. Use `df.info()` to check the data types.

**Expected Output:** A summary from `.info()` showing that `Date_reported` is now of type `datetime64[ns]`.

In [54]:
# Write your answer here
df_covid_subset['Date_reported'] = pd.to_datetime(df_covid_subset['Date_reported'])
df_covid_subset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 491040 entries, 0 to 491039
Data columns (total 5 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date_reported  491040 non-null  datetime64[ns]
 1   Country        491040 non-null  object
 2   WHO_region     491040 non-null  object
 3   New_cases      210491 non-null  float64
 4   New_deaths     154004 non-null  float64
dtypes: datetime64[ns](1), float64(2), object(2)
memory usage: 18.7+ MB

### Question 4: Filter by Date Range (10 Marks)

Create a new DataFrame called `df_covid_trimmed` by filtering `df_covid_subset` to include only the dates from '2020-03-01' to '2023-08-31', inclusive. Print the shape of the new trimmed DataFrame.

**Hint:** You can filter a datetime column using string comparisons, e.g., `df[(df['Date'] >= 'start_date') & (df['Date'] <= 'end_date')]`.

**Expected Output:** A tuple representing the shape of the filtered DataFrame (rows, columns).

In [55]:
# Write your answer here
df_covid_trimmed = df_covid_subset[
    (df_covid_subset['Date_reported'] >= '2020-03-01') &
    (df_covid_subset['Date_reported'] <= '2023-08-31')].copy()

df_covid_trimmed.shape

(306960, 5)

### Question 5: Find Top 5 Affected Countries (10 Marks)

From the original `df_covid` DataFrame, find the 5 countries with the highest total `Cumulative_cases`. Group the data by `Country`, find the maximum `Cumulative_cases` for each, sort the results, and get the top 5. Print the resulting Series.

**Hint:** Use a chain of methods: `.groupby('Country')['Cumulative_cases'].max().sort_values(ascending=False).head(5)`.

**Expected Output:** A Pandas Series showing the top 5 countries as the index and their max cumulative cases as the values.

In [56]:
# Write your answer here
top_5_countries = (df_covid.groupby('Country')['Cumulative_cases'].max().sort_values(ascending=False).head(5))
top_5_countries

Country
United States of America    103436829
China                        99381761
India                        45055954
France                       39042805
Germany                      38437875
Name: Cumulative_cases, dtype: int64

### Question 6: Calculate Daily Global Cases (10 Marks)

Using the `df_covid_trimmed` DataFrame, calculate the total number of `New_cases` for each date across all countries. Store this in a new DataFrame called `daily_global_cases` and print its head.

**Hint:** Use `.groupby('Date_reported')['New_cases'].sum()`.

**Expected Output:** A Series showing the first few dates and the corresponding total new cases for that day.

In [57]:
# Write your answer here
daily_global_cases = (df_covid_trimmed.groupby('Date_reported')['New_cases'].sum())
daily_global_cases.head()

Date_reported
2020-03-01    2003.0
2020-03-02    1940.0
2020-03-03    1796.0
2020-03-04    2215.0
2020-03-05    2165.0
Name: New_cases, dtype: float64

### Question 7: Aggregate Data by Quarter (10 Marks)

Aggregate the `New_cases` and `New_deaths` from `df_covid_trimmed` on a quarterly basis. First, create a 'Quarter' column, then group by this column and sum the cases and deaths. Display the head of the resulting DataFrame.

**Hint:** Create the quarter column with `df['Date_reported'].dt.to_period('Q')`. Then, group by this new column and use `.agg({'New_cases': 'sum', 'New_deaths': 'sum'})`.

**Expected Output:** A DataFrame with 'Quarter' as the index and columns for 'New_cases' and 'New_deaths'.

In [58]:
# Write your answer here
df_covid_trimmed['Quarter'] = df_covid_trimmed['Date_reported'].dt.to_period('Q')
quarterly_data = (df_covid_trimmed.groupby('Quarter').agg({'New_cases': 'sum','New_deaths': 'sum'}))
quarterly_data.head()

          New_cases  New_deaths
Quarter
2020Q1     697567.0     40666.0
2020Q2    9377665.0    511574.0
2020Q3   23887893.0    546584.0
2020Q4   48287242.0    834992.0
2021Q1   45249877.0   1026874.0

### Question 8: Total Cases by WHO Region (15 Marks)

Calculate the total sum of `New_cases` for each `WHO_region` in the `df_covid_trimmed` DataFrame. Display the results sorted in descending order.

**Hint:** Group by `WHO_region`, get the sum of `New_cases`, and then use `.sort_values(ascending=False)`.

**Expected Output:** A Pandas Series showing each WHO region and their total new cases, sorted from highest to lowest.

In [59]:
# Write your answer here
cases_by_region = (df_covid_trimmed.groupby('WHO_region')['New_cases'].sum().sort_values(ascending=False))
cases_by_region

WHO_region
EUR      275983896.0
WPR      213827362.0
AMR      192901815.0
SEAR      54388896.0
EMR       23388717.0
AFR        9549965.0
OTHER           65.0
Name: New_cases, dtype: float64

### Question 9: Find the Day with the Highest Number of New Cases (15 Marks)

Using the `daily_global_cases` Series you created earlier, find the date on which the highest number of new cases was reported globally. Print the date and the corresponding number of cases.

**Hint:** The `.idxmax()` method on a Series will return the index (in this case, the date) of the maximum value. You can use `.max()` to get the maximum value itself.

**Expected Output:** A printout of the date with the highest cases and the number of cases on that day.

In [60]:
# Write your answer here
max_cases_date = daily_global_cases.idxmax()
max_cases_value = daily_global_cases.max()
print("Date with highest global new cases:", max_cases_date)
print("Number of cases on that day:", max_cases_value)

Date with highest global new cases: 2022-01-30 00:00:00
Number of cases on that day: 8401963.0

### Question 10: Pivot Table for Monthly Cases by Region (15 Marks)

Create a pivot table to show the total `New_cases` for each `WHO_region` aggregated by month. First, create a 'Month_Year' column. Then, create the pivot table with `WHO_region` as the index, `Month_Year` as columns, and the sum of `New_cases` as values. Display the resulting pivot table.

**Hint:** Create the month column with `df['Date_reported'].dt.to_period('M')`. Use `pd.pivot_table()` with `index`, `columns`, `values`, and `aggfunc='sum'`.

**Expected Output:** A table with regions as rows, month-years as columns, and aggregated new cases as the cell values.

In [61]:
# Write your answer here
df_covid_trimmed.loc[:, 'Month_Year'] = (df_covid_trimmed['Date_reported'].dt.to_period('M'))
pivot_monthly_cases = pd.pivot_table(df_covid_trimmed,index='WHO_region',columns='Month_Year',values='New_cases',aggfunc='sum')
pivot_monthly_cases

Month_Year,2020-03,2020-04,2020-05,2020-06,2020-07,2020-08,2020-09,2020-10,2020-11,2020-12,...,2022-11,2022-12,2023-01,2023-02,2023-03,2023-04,2023-05,2023-06,2023-07,2023-08
WHO_region,,,,,,,,,,,,,,,,,,,,,
AFR,4042.0,20931.0,77270.0,200688.0,472795.0,278057.0,130666.0,136639.0,182634.0,396963.0,...,45553.0,38914.0,32976.0,16517.0,17495.0,7220.0,9422.0,8235.0,3754.0,2902.0
AMR,197767.0,1088527.0,1567726.0,2418310.0,4090736.0,4134701.0,3285701.0,3815670.0,6324574.0,8875846.0,...,1932172.0,4230321.0,2637288.0,1560949.0,1190913.0,905239.0,308556.0,15369.0,9302.0,13176.0
EMR,49425.0,131207.0,320079.0,553973.0,477341.0,382506.0,477080.0,674930.0,1013831.0,831407.0,...,41170.0,27172.0,21234.0,15425.0,46659.0,49659.0,23597.0,4967.0,1530.0,3698.0
EUR,419584.0,888902.0,678425.0,535296.0,617874.0,1156859.0,1794118.0,4805273.0,8447109.0,7316683.0,...,3637902.0,4378974.0,1941801.0,1498587.0,1570836.0,1062206.0,487679.0,218868.0,87476.0,172170.0
OTHER,13.0,0.0,29.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
SEAR,3058.0,41837.0,192591.0,496321.0,1172833.0,2082401.0,2707929.0,2096493.0,1467461.0,969078.0,...,37761.0,24171.0,8351.0,5130.0,30709.0,236649.0,60895.0,18158.0,7602.0,3845.0
WPR,23678.0,51464.0,50277.0,63812.0,142395.0,253398.0,230503.0,242213.0,279285.0,411149.0,...,5541370.0,82283226.0,18388952.0,1734662.0,965665.0,989257.0,1174357.0,647273.0,1191725.0,1240640.0